{#
--------------------------------------------------------------------------------
Dense Arrays
dense-arrays/maintenance/docs/templates/python/material/module.html.jinja

Render API members while keeping file ownership headers in source.

Module Author(s): Eric J. South
Maintainer(s): Eric J. South
--------------------------------------------------------------------------------
#}
{% extends "_base/module.html.jinja" %}
{% block docstring scoped %}{% endblock %}
